pip==22.2.2
streamlit==1.12.0
torch==1.12.0
xgboost==1.6.1
rdkit-pypi==2021.9.2.1
rdkit==2022.3.4
numpy==1.22.0
torch-geometric==2.0.4
pandas==1.2.4
scikit-learn==1.1.1
tqdm==4.64.0
matplotlib==3.5.1
torch-sparse==0.6.14
transformers==4.21.1
torch-scatter==2.0.9
